.menu-container {
  height: 100vh;
  min-width: 200px;
  background: linear-gradient(90deg, transparent, rgba(0,0,0, 0.1));;
  color: var(--light);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;

  .menu-list {
    list-style: none;

    .list-item {
      width: fit-content;

      a {
      color: inherit;
      text-decoration: none;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-color: var(--light);
      transition: background-color 0.5s;

      &::after {
        content: '';
        display: block;
        width: 0%;
        height: 4px;
        background-color: var(--negative);
        transition: width 0.5s;
      }

      &:hover::after {
          width: 100%;
      }
    }

    .active {
        background-color: var(--negative);
      }
    }
  }
}

@media (min-width: 1119px) {
  .menu-container {
    flex-basis: 50%;
    max-width: 300px;
  }
}
