:root {
  --primary: #232F28;
  --light: #F8EDEB;
  --negative: #FEC5BB;
  --warning: #FEC89A;
}

.app-container {
  background-image: url('./app-background.png');
  min-height: 100vh;

  .body-container {
    max-width: 1088px;
    margin: auto;
  }
}
